{% extends 'base.html' %}
{% block content %}
{% include 'message.html' %}

{% if request.user.is_authenticated == False %}
    <div>
      <div class="card bg-light" style="margin-left: 40%; margin-right: 40%; margin-top: 5%; margin-bottom: 5%; ">
        <div class="card-header text-center">
            <h1 class="card-title">Login</h1>
        </div>
        <div class="card-body">
           <div id="login">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            {{ login_form }}
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success ">Login</button>
                </div>
                <div id="register_text">
                    register
                </div>
            </form>
           </div>
            <div id="register" style="display: none;">
                <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            {{ registration_form }}
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success ">Register</button>
                </div>
                    <div id="login_text">
                    login
                </div>
                </form>
            </div>
        </div>
        <div class="card-footer text-muted text-center">
            @ ToDo APP
        </div>
      </div>
    </div>
{% endif %}
{% if request.user.is_authenticated == True %}

      <a href="{% url 'logout' %}" class="text-warning" style="text-align:right">LogOut</a>

<p> Project Name: <span id="project_name"></span></p>

<!-- Button trigger modal -->
<button type="button" style="margin: 10px; display: none;" class="btn btn-primary" data-toggle="modal" id="task" data-target="#exampleModal" onclick="get_sections()">
Create New Task</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="task_name">Task Name:</label>
        <input type="text" id="task_name"><br>
        <label for="section_dropdown" >Select Section:</label>
        <select id="section_dropdown" ></select><br>
        <label for="task_note" >Add Note:</label>
        <textarea id="task_note" ></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close_modal" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="task_operation" onclick="create_task()">Create</button>
      </div>
    </div>
  </div>
</div>
<br>
<div id="task-div" style="margin: 10px;"></div>

<script>$(document).ready(function() {
    $(".modal").show();
    get_project();});
</script>
{% endif %}
{% endblock %}